--
-- PostgreSQL database dump
--

\restrict 8DIN6GwH6euZ4TQYacBjni4ka6RZ5jCtSYimcuRrzbU2YlH2i9bMeFTVTAjPsTG

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: biometric_events_eventtype_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.biometric_events_eventtype_enum AS ENUM (
    'CHECK_IN',
    'CHECK_OUT'
);


ALTER TYPE public.biometric_events_eventtype_enum OWNER TO postgres;

--
-- Name: biometric_events_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.biometric_events_status_enum AS ENUM (
    'PENDING',
    'SYNCED',
    'FAILED'
);


ALTER TYPE public.biometric_events_status_enum OWNER TO postgres;

--
-- Name: payment_rules_calculationtype_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_rules_calculationtype_enum AS ENUM (
    'PERCENTAGE',
    'FIXED'
);


ALTER TYPE public.payment_rules_calculationtype_enum OWNER TO postgres;

--
-- Name: payment_rules_condition_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_rules_condition_enum AS ENUM (
    'EARLY_PAYMENT',
    'LATE_PAYMENT',
    'PAYMENT_AMOUNT',
    'STUDENT_STATUS',
    'PAYMENT_METHOD',
    'FULL_PAYMENT',
    'INSTALLMENT',
    'SIBLING_DISCOUNT',
    'CUSTOM'
);


ALTER TYPE public.payment_rules_condition_enum OWNER TO postgres;

--
-- Name: payment_rules_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_rules_type_enum AS ENUM (
    'DISCOUNT',
    'PENALTY'
);


ALTER TYPE public.payment_rules_type_enum OWNER TO postgres;

--
-- Name: payments_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payments_type_enum AS ENUM (
    'ENCAISSEMENT',
    'DECAISSEMENT'
);


ALTER TYPE public.payments_type_enum OWNER TO postgres;

--
-- Name: students_gender_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.students_gender_enum AS ENUM (
    'M',
    'F'
);


ALTER TYPE public.students_gender_enum OWNER TO postgres;

--
-- Name: teachers_gender_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.teachers_gender_enum AS ENUM (
    'M',
    'F'
);


ALTER TYPE public.teachers_gender_enum OWNER TO postgres;

--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.users_role_enum AS ENUM (
    'admin',
    'teacher',
    'staff'
);


ALTER TYPE public.users_role_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academic_years; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.academic_years (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    is_current boolean DEFAULT false
);


ALTER TABLE public.academic_years OWNER TO postgres;

--
-- Name: cafeteria_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cafeteria_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying,
    price numeric
);


ALTER TABLE public.cafeteria_items OWNER TO postgres;

--
-- Name: cafeteria_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cafeteria_transactions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    item_id uuid,
    quantity integer,
    total_amount numeric,
    transaction_date timestamp without time zone DEFAULT now()
);


ALTER TABLE public.cafeteria_transactions OWNER TO postgres;

--
-- Name: campuses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campuses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying NOT NULL,
    city character varying,
    address text,
    is_active boolean DEFAULT true
);


ALTER TABLE public.campuses OWNER TO postgres;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying NOT NULL,
    specialty_id uuid,
    academic_year_id uuid,
    campus_id uuid,
    tuition_fee numeric(10,2) DEFAULT 0
);


ALTER TABLE public.classes OWNER TO postgres;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying,
    industry character varying,
    is_partner boolean
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- Name: disciplinary_actions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.disciplinary_actions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    incident_date date,
    infraction_type character varying,
    sanction character varying,
    status character varying
);


ALTER TABLE public.disciplinary_actions OWNER TO postgres;

--
-- Name: evaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    subject_id uuid,
    name character varying NOT NULL,
    type character varying NOT NULL,
    weight_percent integer DEFAULT 100,
    max_score numeric(5,2) DEFAULT 20,
    date date
);


ALTER TABLE public.evaluations OWNER TO postgres;

--
-- Name: final_projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.final_projects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying,
    student_id uuid,
    supervisor_id uuid,
    status character varying
);


ALTER TABLE public.final_projects OWNER TO postgres;

--
-- Name: grades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.grades (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    evaluation_id uuid,
    score numeric(5,2),
    is_absent boolean DEFAULT false,
    comments text
);


ALTER TABLE public.grades OWNER TO postgres;

--
-- Name: housing_allocations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.housing_allocations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    room_id uuid,
    start_date date,
    end_date date
);


ALTER TABLE public.housing_allocations OWNER TO postgres;

--
-- Name: housing_buildings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.housing_buildings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying,
    campus_id uuid
);


ALTER TABLE public.housing_buildings OWNER TO postgres;

--
-- Name: housing_rooms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.housing_rooms (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    building_id uuid,
    room_number character varying,
    monthly_rent numeric
);


ALTER TABLE public.housing_rooms OWNER TO postgres;

--
-- Name: internships; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.internships (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    company_id uuid,
    start_date date,
    end_date date,
    topic text,
    status character varying
);


ALTER TABLE public.internships OWNER TO postgres;

--
-- Name: official_documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.official_documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    type character varying,
    file_path text,
    verification_hash character varying,
    generated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.official_documents OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying NOT NULL,
    permissions jsonb,
    description text
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: semesters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.semesters (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying NOT NULL,
    academic_year_id uuid,
    start_date date,
    end_date date
);


ALTER TABLE public.semesters OWNER TO postgres;

--
-- Name: specialties; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.specialties (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying NOT NULL,
    domain character varying,
    code character varying
);


ALTER TABLE public.specialties OWNER TO postgres;

--
-- Name: staff; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staff (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    biometric_id character varying,
    job_title character varying,
    hourly_rate numeric(10,2),
    phone character varying,
    email character varying,
    campus_id uuid
);


ALTER TABLE public.staff OWNER TO postgres;

--
-- Name: student_transcripts_view; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.student_transcripts_view AS
SELECT
    NULL::uuid AS student_id,
    NULL::character varying AS matricule,
    NULL::character varying AS first_name,
    NULL::character varying AS last_name,
    NULL::uuid AS subject_id,
    NULL::character varying AS subject_name,
    NULL::integer AS credits_ects,
    NULL::numeric AS avg_cc,
    NULL::numeric AS exam_score,
    NULL::numeric AS resit_score,
    NULL::numeric(5,2) AS final_average,
    NULL::text AS status;


ALTER TABLE public.student_transcripts_view OWNER TO postgres;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    matricule character varying NOT NULL,
    first_name character varying NOT NULL,
    last_name character varying NOT NULL,
    class_id uuid,
    date_of_birth date,
    gender character varying(1),
    phone character varying,
    parent_phone character varying,
    balance numeric(10,2) DEFAULT 0,
    photo_url text,
    is_active boolean DEFAULT true
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: subjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subjects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying NOT NULL,
    code character varying,
    class_id uuid,
    semester_id uuid,
    coefficient integer DEFAULT 1,
    credits_ects integer DEFAULT 0
);


ALTER TABLE public.subjects OWNER TO postgres;

--
-- Name: teacher_evaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teacher_evaluations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    staff_id uuid,
    rating integer,
    comments text
);


ALTER TABLE public.teacher_evaluations OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying NOT NULL,
    password_hash character varying NOT NULL,
    email character varying,
    role_id uuid,
    campus_id uuid,
    last_login timestamp without time zone,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: academic_years; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.academic_years (id, name, start_date, end_date, is_current) FROM stdin;
a926a721-b73a-4272-8be7-d0ee7164a146	2026-2027	2026-09-01	2027-06-30	t
\.


--
-- Data for Name: cafeteria_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cafeteria_items (id, name, price) FROM stdin;
\.


--
-- Data for Name: cafeteria_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cafeteria_transactions (id, student_id, item_id, quantity, total_amount, transaction_date) FROM stdin;
\.


--
-- Data for Name: campuses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.campuses (id, name, city, address, is_active) FROM stdin;
18533d6c-b880-48c4-b413-028a57179df9	Campus Yassa	Douala	\N	t
66d33ead-07b8-46d6-8589-e6a3a9f80b19	Campus Principal	Douala	\N	t
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, name, industry, is_partner) FROM stdin;
\.


--
-- Data for Name: disciplinary_actions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.disciplinary_actions (id, student_id, incident_date, infraction_type, sanction, status) FROM stdin;
\.


--
-- Data for Name: evaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluations (id, subject_id, name, type, weight_percent, max_score, date) FROM stdin;
\.


--
-- Data for Name: final_projects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.final_projects (id, title, student_id, supervisor_id, status) FROM stdin;
\.


--
-- Data for Name: grades; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.grades (id, student_id, evaluation_id, score, is_absent, comments) FROM stdin;
\.


--
-- Data for Name: housing_allocations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.housing_allocations (id, student_id, room_id, start_date, end_date) FROM stdin;
\.


--
-- Data for Name: housing_buildings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.housing_buildings (id, name, campus_id) FROM stdin;
\.


--
-- Data for Name: housing_rooms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.housing_rooms (id, building_id, room_number, monthly_rent) FROM stdin;
\.


--
-- Data for Name: internships; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.internships (id, student_id, company_id, start_date, end_date, topic, status) FROM stdin;
\.


--
-- Data for Name: official_documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.official_documents (id, student_id, type, file_path, verification_hash, generated_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name, permissions, description) FROM stdin;
\.


--
-- Data for Name: semesters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.semesters (id, name, academic_year_id, start_date, end_date) FROM stdin;
f0abd1db-8572-4b17-92b7-1c8c08497a3e	Semestre 1	a926a721-b73a-4272-8be7-d0ee7164a146	2026-09-01	2027-01-31
\.


--
-- Data for Name: specialties; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: staff; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teacher_evaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teacher_evaluations (id, student_id, staff_id, rating, comments) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, username, password_hash, email, role_id, campus_id, last_login, is_active, created_at) FROM stdin;
\.


--
-- Name: academic_years academic_years_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_years
    ADD CONSTRAINT academic_years_pkey PRIMARY KEY (id);


--
-- Name: cafeteria_items cafeteria_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cafeteria_items
    ADD CONSTRAINT cafeteria_items_pkey PRIMARY KEY (id);


--
-- Name: cafeteria_transactions cafeteria_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cafeteria_transactions
    ADD CONSTRAINT cafeteria_transactions_pkey PRIMARY KEY (id);


--
-- Name: campuses campuses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campuses
    ADD CONSTRAINT campuses_pkey PRIMARY KEY (id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: disciplinary_actions disciplinary_actions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disciplinary_actions
    ADD CONSTRAINT disciplinary_actions_pkey PRIMARY KEY (id);


--
-- Name: evaluations evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_pkey PRIMARY KEY (id);


--
-- Name: final_projects final_projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.final_projects
    ADD CONSTRAINT final_projects_pkey PRIMARY KEY (id);


--
-- Name: grades grades_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_pkey PRIMARY KEY (id);


--
-- Name: housing_allocations housing_allocations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.housing_allocations
    ADD CONSTRAINT housing_allocations_pkey PRIMARY KEY (id);


--
-- Name: housing_buildings housing_buildings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.housing_buildings
    ADD CONSTRAINT housing_buildings_pkey PRIMARY KEY (id);


--
-- Name: housing_rooms housing_rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.housing_rooms
    ADD CONSTRAINT housing_rooms_pkey PRIMARY KEY (id);


--
-- Name: internships internships_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internships
    ADD CONSTRAINT internships_pkey PRIMARY KEY (id);


--
-- Name: official_documents official_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.official_documents
    ADD CONSTRAINT official_documents_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: semesters semesters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.semesters
    ADD CONSTRAINT semesters_pkey PRIMARY KEY (id);


--
-- Name: specialties specialties_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.specialties
    ADD CONSTRAINT specialties_pkey PRIMARY KEY (id);


--
-- Name: staff staff_biometric_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_biometric_id_key UNIQUE (biometric_id);


--
-- Name: staff staff_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_pkey PRIMARY KEY (id);


--
-- Name: students students_matricule_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_matricule_key UNIQUE (matricule);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: teacher_evaluations teacher_evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_evaluations
    ADD CONSTRAINT teacher_evaluations_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: student_transcripts_view _RETURN; Type: RULE; Schema: public; Owner: postgres
--

CREATE OR REPLACE VIEW public.student_transcripts_view AS
 SELECT s.id AS student_id,
    s.matricule,
    s.first_name,
    s.last_name,
    sub.id AS subject_id,
    sub.name AS subject_name,
    sub.credits_ects,
    COALESCE(avg(
        CASE
            WHEN ((e.type)::text = 'CC'::text) THEN g.score
            ELSE NULL::numeric
        END), (0)::numeric) AS avg_cc,
    COALESCE(max(
        CASE
            WHEN ((e.type)::text = 'EXAM'::text) THEN g.score
            ELSE NULL::numeric
        END), (0)::numeric) AS exam_score,
    max(
        CASE
            WHEN ((e.type)::text = 'RATCH'::text) THEN g.score
            ELSE NULL::numeric
        END) AS resit_score,
    (((COALESCE(avg(
        CASE
            WHEN ((e.type)::text = 'CC'::text) THEN g.score
            ELSE NULL::numeric
        END), (0)::numeric) * 0.3) + (COALESCE(GREATEST(max(
        CASE
            WHEN ((e.type)::text = 'EXAM'::text) THEN g.score
            ELSE NULL::numeric
        END), max(
        CASE
            WHEN ((e.type)::text = 'RATCH'::text) THEN g.score
            ELSE NULL::numeric
        END)), (0)::numeric) * 0.7)))::numeric(5,2) AS final_average,
        CASE
            WHEN (((COALESCE(avg(
            CASE
                WHEN ((e.type)::text = 'CC'::text) THEN g.score
                ELSE NULL::numeric
            END), (0)::numeric) * 0.3) + (COALESCE(GREATEST(max(
            CASE
                WHEN ((e.type)::text = 'EXAM'::text) THEN g.score
                ELSE NULL::numeric
            END), max(
            CASE
                WHEN ((e.type)::text = 'RATCH'::text) THEN g.score
                ELSE NULL::numeric
            END)), (0)::numeric) * 0.7)) >= (10)::numeric) THEN 'VALIDATED'::text
            ELSE 'FAILED'::text
        END AS status
   FROM ((((public.students s
     JOIN public.classes c ON ((s.class_id = c.id)))
     JOIN public.subjects sub ON ((sub.class_id = c.id)))
     LEFT JOIN public.evaluations e ON ((e.subject_id = sub.id)))
     LEFT JOIN public.grades g ON (((g.evaluation_id = e.id) AND (g.student_id = s.id))))
  GROUP BY s.id, sub.id;


--
-- Name: cafeteria_transactions cafeteria_transactions_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cafeteria_transactions
    ADD CONSTRAINT cafeteria_transactions_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.cafeteria_items(id);


--
-- Name: cafeteria_transactions cafeteria_transactions_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cafeteria_transactions
    ADD CONSTRAINT cafeteria_transactions_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: classes classes_academic_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_academic_year_id_fkey FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(id);


--
-- Name: classes classes_campus_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_campus_id_fkey FOREIGN KEY (campus_id) REFERENCES public.campuses(id);


--
-- Name: classes classes_specialty_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_specialty_id_fkey FOREIGN KEY (specialty_id) REFERENCES public.specialties(id);


--
-- Name: disciplinary_actions disciplinary_actions_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.disciplinary_actions
    ADD CONSTRAINT disciplinary_actions_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: evaluations evaluations_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id);


--
-- Name: final_projects final_projects_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.final_projects
    ADD CONSTRAINT final_projects_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: final_projects final_projects_supervisor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.final_projects
    ADD CONSTRAINT final_projects_supervisor_id_fkey FOREIGN KEY (supervisor_id) REFERENCES public.staff(id);


--
-- Name: grades grades_evaluation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_evaluation_id_fkey FOREIGN KEY (evaluation_id) REFERENCES public.evaluations(id);


--
-- Name: grades grades_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.grades
    ADD CONSTRAINT grades_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: housing_allocations housing_allocations_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.housing_allocations
    ADD CONSTRAINT housing_allocations_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.housing_rooms(id);


--
-- Name: housing_allocations housing_allocations_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.housing_allocations
    ADD CONSTRAINT housing_allocations_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: housing_rooms housing_rooms_building_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.housing_rooms
    ADD CONSTRAINT housing_rooms_building_id_fkey FOREIGN KEY (building_id) REFERENCES public.housing_buildings(id);


--
-- Name: internships internships_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internships
    ADD CONSTRAINT internships_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: internships internships_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internships
    ADD CONSTRAINT internships_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: official_documents official_documents_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.official_documents
    ADD CONSTRAINT official_documents_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: semesters semesters_academic_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.semesters
    ADD CONSTRAINT semesters_academic_year_id_fkey FOREIGN KEY (academic_year_id) REFERENCES public.academic_years(id);


--
-- Name: staff staff_campus_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_campus_id_fkey FOREIGN KEY (campus_id) REFERENCES public.campuses(id);


--
-- Name: staff staff_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.staff
    ADD CONSTRAINT staff_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: students students_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id);


--
-- Name: students students_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: subjects subjects_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id);


--
-- Name: subjects subjects_semester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_semester_id_fkey FOREIGN KEY (semester_id) REFERENCES public.semesters(id);


--
-- Name: teacher_evaluations teacher_evaluations_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_evaluations
    ADD CONSTRAINT teacher_evaluations_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.staff(id);


--
-- Name: teacher_evaluations teacher_evaluations_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_evaluations
    ADD CONSTRAINT teacher_evaluations_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: users users_campus_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_campus_id_fkey FOREIGN KEY (campus_id) REFERENCES public.campuses(id);


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 8DIN6GwH6euZ4TQYacBjni4ka6RZ5jCtSYimcuRrzbU2YlH2i9bMeFTVTAjPsTG

