# Configuration du service de rapports - Institut Gabriel Rita

# Database
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=institut_gabriel_rita_db

# Flask
FLASK_ENV=development

# URL du service Planning (pour récupérer les emplois du temps)
# En Docker: http://service-planning:3000/schedules
# En local: http://localhost:3002/schedules
PLANNING_SERVICE_URL=http://service-planning:3000/schedules
